html {
    background-color: #413c3c;
    background-image: url(./assets/layered-waves.svg);
    background-repeat: no-repeat;
    background-size:cover;
    font-family: 'Bungee', cursive;
}

span {
    color: #FFFFFF;
}

body {
    height: 75vh;
    width: 99vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input{
    height: 25px;
}

button {
    height: 30px;
    border-radius: 20px;
    font-weight: bold;
}

#timeInMinutes {
    width: 65px;;
}

button:hover {
    background-color: #5c5a5a;
}

@media screen and (max-width: 768px) {

    html {
        background-size: 150vh;
    }

    #ticketLabel {
        width: 125px;
    }

}